<footer class="footer">
  <div class="footer-left">
    <p class="footer-info-title">Convenio ❯</p>
    <p class="footer-info-paragraph">Sede: Mock | Capitale Sociale: Mock
      <br>2025 Convenio &copy; è un marchio registrato
    </p>
    </div>

  <div class="footer-center">
      <ul>
        <li><a href="#">Chi siamo</a></li>
        <li>|</li>
        <li><a href="#">Lavora con noi</a></li>
        <li>|</li>
        <li><a href="#">Privacy</a></li>
        <li>|</li>
        <li><a href="#">Gestione Cookie</a></li>
      </ul>
    </div>

  <div class="footer-right">
      <div class="social-icons">
        <img src="/icons/facebook.png" alt="Facebook"/>
        <img src="/icons/instagram.png" alt="Instagram"/>
        <img src="/icons/linkedin.png" alt="LinkedIn"/>
      </div>
    </div>
</footer>
