/* Footer Container */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: var(--height80px);
  width: 100vw;
  background: #de5f0678;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 40px
}

.footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-block-end: 0;
  margin-block-start: 0;
  flex: 3 0 0;
  height: var(--height80px);
  justify-content: center;
}

.footer-info_title {
  margin-block-end: 5px;
  margin-block-start: 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.footer-info-paragraph {
  font-size: 0.7rem;
  font-weight: 300;
  margin-block-start: 0;
  white-space: pre-wrap;
  margin: 3px 0;
  line-height: 1rem;
}

.footer-info-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
}

.footer-center {
  height: var(--height80px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-end;
  flex: 5 1 0;
}


.footer-center ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.footer-center ul li a {
  position: relative; /* Needed for positioning the pseudo-element */
  color: var(--white);
  text-decoration: none; /* Remove default underline */
  overflow: hidden; /* Prevent the underline from overflowing */
}

.footer-center ul li a::after {
  content: ''; /* Empty content for the pseudo-element */
  position: absolute;
  left: 0;
  bottom: -2px; /* Slightly below the text */
  width: 0; /* Initially, no underline is visible */
  height: 1px; /* Thickness of the underline */
  background: var(--white); /* Color of the underline */
  transition: width 0.3s ease-in-out; /* Smooth animation */
}

.footer-center ul li a:hover::after {
  width: 100%; /* Expand underline from left to right */
}

.footer-center ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
}

.footer-copyright {
  font-size: 0.65rem;
  font-weight: 300;
  margin-block-start: 0;
  white-space: pre-line;
  margin-bottom: 7px;
}

/* Social Media Section */
.footer-right {
  display: flex;
  justify-content: flex-end;
  height: var(--height80px);
  flex: 2 0 0;
  align-items: center;
  margin-right: 2rem;
}

.footer-right h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.social-icons {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}

.social-icons img {
  width: 35px;
  height: 35px;
  transition: transform 0.2s;
}

.social-icons img:hover {
  transform: scale(1.1); /* Slight zoom effect */
}


@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Stack sections vertically */
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}
