<footer class="footer">
  <div class="footer-content">
    <div class="footer-info">
      <p class="footer-info_title">Convenio
      <p class="footer-info-paragraph">Uniamo aziende e attività locali offrendo sconti
        esclusivi e nuovi clienti, creando valore per tutti</p>
    </div>

    <div class="footer-links">
      <ul>
        <li><a href="#">Legal Advice</a></li>
        <li>|</li>
        <li><a href="#">Work With Us</a></li>
        <li>|</li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
      <p class="footer-copyright">2025 Convenio © - Tutti i diritti riservati.</p>
    </div>

    <div class="footer-social">
      <div class="social-icons">
        <a href="#"><img src="/icons/facebook.png" alt="Facebook"/></a>
        <a href="#"><img src="/icons/instagram.png" alt="Instagram"/></a>
        <a href="#"><img src="/icons/linkedin.png" alt="LinkedIn"/></a>
      </div>
    </div>
  </div>
</footer>
