.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--footer-height));
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Active Slide */
.slide.active {
  opacity: 1;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - var(--footer-height));
  background-color: rgb(73 18 0 / 44%);
  z-index: 2;
}

/* Slide Text */
.slide-text {
  position: relative;
  text-align: center;
  color: antiquewhite;
  z-index: 3;
  background: #00000047;
  height: 80px;
  width: 45vw;
  display: flex;
  align-items: center;
  margin-block-end: 20vh
}

.slide-text p {
  font-size: 1rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  font-weight: 300;
  white-space: pre-line;
  margin-left: 4rem;
}

