<div class="photo-slider">
  <!-- Slides -->
  <div class="slide" style="background-image: url('/slides/slide1.png');">
    <div class="slide-content">
      <h1>Welcome to Our Site</h1>
      <button class="btn">Learn More</button>
    </div>
  </div>
  <div class="slide" style="background-image: url('/slides/slide2.jpg');">
    <div class="slide-content">
      <h1>Explore Our Services</h1>
      <button class="btn">Get Started</button>
    </div>
  </div>
  <div class="slide" style="background-image: url('/slides/slide3.png');">
    <div class="slide-content">
      <h1>Contact Us Today</h1>
      <button class="btn">Contact</button>
    </div>
  </div>
  <div class="slide" style="background-image: url('/slides/slide4.png');">
    <div class="slide-content">
      <h1>Another</h1>
      <button class="btn">Button</button>
    </div>
  </div>
  <div class="slide" style="background-image: url('/slides/slide5.jpg');">
    <div class="slide-content">
      <h1>Another</h1>
      <button class="btn">Button</button>
    </div>
  </div>
  <div class="slide" style="background-image: url('/slides/slide6.jpg');">
    <div class="slide-content">
      <h1>Another</h1>
      <button class="btn">Button</button>
    </div>
  </div>
  <div class="slide" style="background-image: url('/slides/slide7.webp');">
    <div class="slide-content">
      <h1>Another</h1>
      <button class="btn">Button</button>
    </div>
  </div>
  <div class="slide" style="background-image: url('/slides/slide8.jpeg');">
    <div class="slide-content">
      <h1>Another</h1>
      <button class="btn">Button</button>
    </div>
  </div>
</div>
