<div class="about-container">

  <div class="about-title">
    <p>Convenio ❯</p>
  </div>
  <div class="about-subtitle">
    <p>La convenzione aziendale su misura</p>
  </div>

  <div class="catch">
    <button class="discover-button"> Convenziona la tua attività</button>
  </div>
  <div class="about-body">
    <p class="right-side">Convenio è molto più di un semplice portale: è un'innovativa piattaforma dedicata a promuovere
      ai propri membri offerte vantaggiose e risparmio. Collaboriamo con aziende di ogni tipo, dalle multinazionali alle
      piccole imprese, per creare soluzioni di convenzioni su misura che aumentano il potere d'acquisto e rafforzano il
      legame tra azienda e collaboratori</p>
    <p class="left-side">Con un approccio semplice e gratuito, Convenio trasforma le convenzioni aziendali in un potente
      strumento per rivitalizzare il tessuto economico dei produttori locali, incentivare il benessere del dipendente
      con un occhio al risparmio per tutti</p>
  </div>
</div>
