.homepage {
  flex: 1; /* Ensures the homepage content stretches in the main container */
  padding: 20px;
  background: var(--white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 40vw;
  top: 0;
  height: calc(100vh - 2 * var(--height80px));
  color: var(--white);
  position: relative;
  z-index: 10;
  font-size: 1.5rem;
  font-weight: 500;
  flex-wrap: wrap;
  align-content: stretch;
}

.main-title {
  font-size: 3rem
}

.main-paragraph {
  font-size: 1.5rem;
  margin-block: 1.5rem;
}

.discover-button {
  display: inline-block;
  padding: 15px 70px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
  background-color: #eb690b75; /* Orange tone matching the footer */
  border: none;
  border-radius: 8px; /* Slightly rounded edges */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle depth */
  transition: all 0.3s ease; /* Smooth hover effect */
  text-transform: uppercase; /* Capitalize text for boldness */
}

.discover-button:hover {
  background-color: var(--orange); /* Slightly darker orange on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Enhanced shadow */
  transform: translateY(-2px); /* Gentle lift effect */
}

.discover-button:active {
  transform: translateY(0); /* Pressed down effect */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Softer shadow */
}

